#content-toc{
    counter-reset: h2;
    list-style: none;
}
#content ul li:before {
     content: ""; 
}
#content-toc li.toc-h2{
    counter-reset: h3;
}


#content-toc li.toc-h2 a:before{
   counter-increment: h2;
   content: counter(h2) ". ";
}

#content-toc li.toc-h2~li.toc-h3 a:before{
    counter-increment: h3;
    content: counter(h2) "."counter(h3) "\3000";
}
#content-toc li.toc-h2~li.toc-h3~li.toc-h4 a:before{
    counter-increment: h4;
    content: counter(h2) "." counter(h3)"." counter(h4) "\3000";
}
/*#content-toc li.toc-h4~li.toc-h5 a:before{
    counter-increment: h5;
    content: counter(h2) "."counter(h3)"."counter(h4)"."counter(h5) "\3000";
}*/
/*#content-toc li.toc-h5~li.toc-h6 a:before{
    counter-increment: h6;
    content: counter(h2) "."counter(h3)"."counter(h4)"."counter(h5)"."counter(h6) "\3000";
}*/
#content-toc .toc-h3{
    padding-left: 20px;
}
#content-toc .toc-h4{
    padding-left: 40px;
}
#content-toc .toc-h5{
    padding-left: 60px;
}
#content-toc .toc-h6{
    padding-left: 80px;
}