#toc{
    counter-reset: h2;
}

#toc li.toc-h2{
    counter-reset: h3;
}


#toc li.toc-h2 a:before{
   counter-increment: h2;
   content: counter(h2) ". ";
}

#toc li.toc-h2~li.toc-h3 a:before{
       counter-increment: h3;
       content: counter(h2) "."counter(h3) "\3000";
}